<%- include('templates/header'); -%>

    <style>
        #notFound{
            color:red;
            display:block;
            width:200px;
            margin:auto;
        }
    </style>
    <div id="notFound">
    	<h1>Page Not found!!</h1>
    	<img src="img/404.png">
    </div>

<%- include('templates/footer'); -%>

