<%- include('templates/header'); -%>

<script>

	function confirmF(id){
		if(confirm("Do you really want to delete this user?")){
			location.href = "/user/"+id+"/delete";
		}
	}
	
</script>


<div class="container">
    <div class ="jumbotron">


		<div class="col-sm-4"> </div>
        	<button class="col-sm-4 btn btn-info btn-block" onclick="location.href='/new_post';" > New Post </button> 
        <div class="col-sm-4"></div> 
    </div>
    
	
	
	<div id="storyStream" class="storyStream">
		<% if ( !stories ) { %>
			<p>stories not found</p>
		<% } else { %>
			<% for(var i = stories.length-1; i >= 0; i--){ %>
				<%- include('templates/story.ejs', { "story" : stories[i] } ) -%>
			<% } %>
		<% } %>
	</div> 
    
    
    
</div>


<%- include('templates/footer'); -%>
