<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" >
        <title>Fakestagram</title>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        
        <!-- Bootstrap Styles -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Our CSS -->
        <link rel="stylesheet" href="css/app.css" type="text/css" />
    </head>
    <body>
        
    <main class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Fake-A-Gram</a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if (typeof currentUser != 'undefined' && currentUser != null){%>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/<%=currentUser%>"><%=currentUser%></a>
          </li>
      <%}else{ %>
      
        <li class="nav-item">
          <a class="nav-link" href="/login_user">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new_user">Register</a>
        </li>
      
      
      <%}%>

      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!--
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      -->
      <%- include('./searchForm'); -%>
    </form>
  </div>
</nav>
