
<div class="card storyCard">
    <img style="width=25%;" class="card-img-top" src='data:image/png;base64, <%=story.picture%>' alt="Image Not Available">
    <div class="card-body">
       
    </div>
    <script>
        
    </script>
</div>