<p>balls</p>
<div class="card storyCard">
    <img class="card-img-top" src="<%= story.picture %>" alt="Image Not Available">
    <div class="card-body">
       
    </div>
    <script>
        
    </script>
</div>